<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Test</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <link rel="stylesheet" href="/loading-bar.css">
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="frontpage.css">
    <link href="https://fonts.googleapis.com/css?family=Mina" rel="stylesheet">
</head>

<body>
    <% include functions %>

        <script>
            $(document).ready(function () {
                // Add smooth scrolling to all links
                $("a").on('click', function (event) {
                    // Make sure this.hash has a value before overriding default behavior
                    if (this.hash !== "") {
                        // Prevent default anchor click behavior
                        event.preventDefault();
                        // Store hash
                        var hash = this.hash;
                        // Using jQuery's animate() method to add smooth page scroll
                        // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                        $('html, body').animate({
                            scrollTop: $(hash).offset().top
                        }, 800, function () {

                            // Add hash (#) to URL when done scrolling (default click behavior)
                            window.location.hash = hash;
                        });
                    } // End if
                });
            });
        </script>

        <body>
            <header class="v-header container">
                <div class="headerLogo">
                    <img src="logo.png" />
                </div>
                <div class="fullscreen-video-wrap">
                    <video src="house.mp4" autoplay="true" loop="true"></video>
                    </video>

                </div>
                <div class="se-pre-con"></div>
                <div class="header-overlay"></div>
                <div class="header-content" style="width:100%;">
                    <h1>
                        <center>Welcome to SmARM!</center>
                    </h1>

                    <a href="#section2">
                        <button class="button">See results
                            <span></span>
                        </button>
                    </a>
                </div>
            </header>

            <div class="main">
                <section></section>
            </div>

            <div class="container" id="homeTitle">
                <h1>Your home by the minute:</h1>
            </div>
            <div id="section2" class="space"></div>

            <div class="row">
                <div class="ldBar label-center col-md-3" data-stroke-width="6" data-preset="fan" data-stroke="<%= getColor(normalizedCO2) %>"
                    data-value="<%= normalizedCO2 %>" style="height:40%">
                </div>
                <div class="ldBar label-center col-md-3" data-stroke-width="6" data-preset="fan" data-stroke="<%= getColor(normalizedVOC) %>"
                    data-value="<%= normalizedVOC %>" style="height:40%">
                </div>
                <div class="ldBar label-center col-md-3" data-stroke-width="6" data-preset="fan" data-stroke="<%= getColor(result.humidity) %>"
                    data-value="<%= result.humidity %>" style="height:40%">
                </div>
                <div class="ldBar label-center col-md-3" data-stroke-width="6" data-preset="fan" data-stroke="<%= getColor(normalizedTemp) %>"
                    data-value="<%= normalizedTemp %>" style="height:40%">
                </div>
            </div>
            <div class="row">
                <p class="col-md-3 dataNumbers text-center">CO2
                    <%= Math.round(result.CO2) %> ppm</p>
                <p class="col-md-3 dataNumbers text-center">VOC
                    <%= Math.round(result.totalVOC) %> ppb</p>
                <p class="col-md-3 dataNumbers text-center">Humidity
                    <%= Math.round(result.humidity) %>%</p>
                <p class="col-md-3 dataNumbers text-center">Temperature
                    <%= Math.round(result.temperature) %> °C</p>
            </div>
            <div class="row">
                <canvas id="CO2Chart" class="col-md-3"></canvas>
                <canvas id="VOCChart" class="col-md-3"></canvas>
                <canvas id="humidityChart" class="col-md-3"></canvas>
                <canvas id="temperatureChart" class="col-md-3"></canvas>

                <script>
                    let resultsJSON = <%- JSON.stringify(results) %>;
                    console.log(resultsJSON);
                    let times = [];
                    resultsJSON.forEach(result => {
                        let date = new Date(result.date);
                        times.push(date.getMinutes() + ":" + date.getSeconds());
                    });

                    console.log(times);

                    var ctx = document.getElementById('CO2Chart').getContext('2d');
                    let readingsCO2 = [];

                    resultsJSON.forEach(result => {
                        readingsCO2.push(result.CO2.toString());
                    });
                    var airChart = new Chart(ctx, {
                        // The type of chart we want to create
                        type: 'line',


                        // The data for our dataset
                        data: {
                            labels: times,
                            datasets: [{
                                label: "CO2",
                                backgroundColor: "<%= getColor(normalizedCO2) %>",
                                borderColor: 'rgb(255, 255, 255)',
                                data: readingsCO2,
                            }]
                        },
                        // Configuration options go here
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                        }
                    });

                    var ctx = document.getElementById('VOCChart').getContext('2d');
                    let readingsVOC = [];

                    resultsJSON.forEach(result => {
                        readingsVOC.push(result.totalVOC.toString());
                    });
                    var airChart = new Chart(ctx, {
                        // The type of chart we want to create
                        type: 'line',


                        // The data for our dataset
                        data: {
                            labels: times,
                            datasets: [{
                                label: "VOC",
                                backgroundColor: "<%= getColor(normalizedVOC) %>",
                                borderColor: 'rgb(255, 255, 255)',
                                data: readingsVOC,
                            }]
                        },

                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                        }
                    });
                    var ctx = document.getElementById('humidityChart').getContext('2d');
                    let readingsHumidity = [];

                    resultsJSON.forEach(result => {
                        readingsHumidity.push(result.humidity.toString());
                    });
                    var airChart = new Chart(ctx, {
                        // The type of chart we want to create
                        type: 'line',


                        // The data for our dataset
                        data: {
                            labels: times,
                            datasets: [{
                                label: "humidity",
                                backgroundColor: "<%= getColor(result.humidity) %>",
                                borderColor: 'rgb(255, 255, 255)',
                                data: readingsHumidity,
                            }]
                        },

                        // Configuration options go here
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                        }
                    });

                    var ctx = document.getElementById('temperatureChart').getContext('2d');
                    let readingsTemperature = [];

                    resultsJSON.forEach(result => {
                        readingsTemperature.push(result.temperature.toString());
                    });
                    var airChart = new Chart(ctx, {
                        // The type of chart we want to create
                        type: 'line',


                        // The data for our dataset
                        data: {
                            labels: times,
                            datasets: [{
                                label: "CO2",
                                backgroundColor: "<%= getColor(normalizedTemp) %>",
                                borderColor: 'rgb(255, 255, 255)',
                                data: readingsTemperature,
                            }]
                        },

                        // Configuration options go here
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                        }
                    });
                </script>
            </div>

        <div class="space"></div>
        </body>
        <script src="loading-bar.min.js"></script>
        <script src="home.js"></script>

</html>